@font-face {
  font-family: digiCalc;
  src: url(./static/digital.otf);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-body {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: fit-content;
  padding-top: 100px;
}

.display-row {
  display: flex;
}

.displays-field {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  border: solid 2px #4D194D;
  border-radius: 5px;
  outline: none;
  height: 70px;
  width: 218px;
  margin: 2px;
  padding: 1px 5px;

  background-color: #065A60;

  overflow: scroll;
  scrollbar-width: none;
}

.lcd-display, .lcd-string {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  min-width: 204px;
  height: 32px;
  margin: 0px;
  padding: 0px;
  
  /* overflow: scroll;
  scrollbar-width: none; */
  
  outline: none;
  color: #FFCC5C;
  font-family: digiCalc;
  font-size: 30px;  
}

.button-row {
  display: flex;
}

button {
  width: 70px;
  height: 70px;
  margin: 2px;
  border-radius: 5px;
  
  color: #4D194D;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

.btn-ac {
  background-color: #714771;
  color: #FFCC5C;
}

.btn-operate {
  background-color: #714771;
  color: #FFCC5C;
}

.btn-sym {
  background-color: #FFCC5C;
}